{% extends "base.html" %}

{% block title %}ViralQueryX - contact{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1 class="header-badge">Contact</h1>

    <div class="results-box">
      <h2>Get in touch</h2>
      <p>
        This project is primarily a personal/experimental site, but if you'd like to
        get in touch about the code, the data, or related projects, you can:
      </p>

      <ul>
        <li>Reach out by email: crispin.lang@students.fhnw.ch</li>
        <li>Github Repo: https://github.com/crispinlang/flask-MySQL-project</li>
      </ul>
    </div>
  </div>
{% endblock %}

