{% extends "base.html" %}

{% block title %}Home - ViralQueryX{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
{% endblock %}

{% block content %}
  <div class="landing-page">
    <div class="glow"></div>

    <div class="container">
      <h1>Welcome to ViralQueryX</h1>
      <p>
        This first website project utilizes a full web tech stack using Flask in the backend
        to display and query a previously created MySQL database. In addition, there is a RESTful API functionality allowing for direct JSON result output via a URL query.
      </p>
    </div>

      <div class="actions">
        <div class="container">
          <h2>Click here to query the DB:</h2>
          <a href="{{ url_for('search') }}" class="button">DB Query</a>
        </div>

        <div class="container">
          <h2>Click here to view the tables:</h2>
          <a href="{{ url_for('tables') }}" class="button">View tables</a>
        </div>
      </div>
  </div>
{% endblock %}